[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
datetime = "*"
flask = "*"
"concurrent.futures" = "*"
bs4 = "*"
re = "*"
time = "*"
logging = "*"
sys = "*"
os = "*"
executor = "*"
ml = "*"
models = "*"
json = "*"
"app.db-functions" = "*"
dotenv = "*"
sql-sender = "*"
sql-operator = "*"
sqlalchemy = "*"
httpx = "*"
asyncio = "*"
"catalog-service.models" = "*"
"urllib.parse" = "*"

[dev-packages]

[requires]
python_version = "3.12"
