

.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    width: 100%;
    gap: 20px;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carousel-card a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.carousel-card img {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.card-content h3 {
    margin: 0;
    font-size: 1.2rem;
}

.card-content p {
    font-size: 1rem;
    color: #666;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    width: 50px; 
    height: 50px;
    cursor: pointer !important;
    border-radius: 50% !important; 
    font-size: 18px !important;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-50%) scale(1.1); /* Efeito de zoom ao passar o mouse */
}

button:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}


button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}
