<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block head%}{%endblock%}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/buyer_header.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {%if session.get('user_type') == 'buyer'%}
    <header>
        <div class="imgContainer">
            <img src="{{ url_for('static',filename='system_images/system_logo.png') }}" alt="">
        </div>

        <div class="listContainer">
            <ul>
                <li><a href="{{url_for('buyer_bp.buyer_home')}}">Inicio</a></li>
                <li><a href="/promoções">Promoções</a></li>
                <li><a href="about">Sobre nós</a></li>
            </ul>
        </div>
        <div class="searchContainer">
            <div class="InputContainer">
                <input
                    placeholder="Busque por item ou loja"
                    id="input"
                    class="input"
                    name="text"
                    type="text"
                />
        
                <label class="labelforsearch" for="input">
                    <svg class="searchIcon" viewBox="0 0 512 512">
                    <path
                        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                    ></path>
                    </svg>
                </label>
                </div>
        </div>
        <div class="userContainer">
            <div class="user-info">
                <img id="profile-image" src="" alt="Foto do Perfil" class="profile-image">
                <h2 id="user-name">Nome do Usuário</h2>
                <i class="fa-regular fa-user"></i>
                <div class="cart-icon">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <div class="cart-info">
                        <span>R$ 0,00</span>
                        <span>0 itens</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="logoutContainer">
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i></a>
        </div>
        
    </header>
    <script>
        window.onload = function() {
            fetch('/api/get_user_info', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao buscar informações do usuário');
                }
                return response.json();
            })
            .then(data => {
                // Atualiza o HTML com as informações do usuário
                document.getElementById('user-name').textContent = data.user_name;
                document.getElementById('profile-image').src = '/static/' + data.profile_image;
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        };
    </script>
    <script src="{{url_for('static', filename='js/manage_buyer_cart.js')}}"></script> 
    {%endif%}
    {%block content%}{%endblock%}
</body>
</html>