<!-- templates/main.html -->
{% extends 'base.html' %}

{% block title %}Página Principal - PDV Food Truck{% endblock %}

{% block content %}
    <h1 class="mb-4">Bem-vindo ao Sistema PDV</h1>
    <p>Utilize o menu ao lado para navegar entre as opções de cadastro de produtos e gerenciamento de pedidos.</p>

    <hr>

    <!-- Seção Pedidos -->
    <section id="pedidos">
        <h2>Pedidos</h2>
        <p>Visualize e gerencie os pedidos realizados pelos clientes.</p>
        <!-- Conteúdo adicional para Pedidos -->
    </section>
{% endblock %}

