<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Selecione a Opção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_option.css') }}">
</head>
<body>
    <div class="container">
        <h1>Você vai comer aqui ou levar?</h1>
        <button id="eatHereBtn">Comer Aqui</button>
        <button id="takeAwayBtn">Levar</button>
    </div>
    
    <script src="{{ url_for('static', filename='js/selecionar_opcao.js') }}"></script>
</body>
</html>
