<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .products {
            margin-top: 20px;
        }
        .product-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .product-item {
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
        }

        .product-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <header>
        <h1>Seller Store</h1>
    </header>
    <main>
        <section class="products">
            <h2>Products</h2>
            <div class="product-list">
                {% for product in products %}
                <div class="product-item">
                    <img src="{{ url_for('static', filename=produto|get_first_image_path) }}" alt="imagem do produto" class="product-image">
                    <h3>{{ product.nome_produto }}</h3>
                    <p>{{ product.descricao }}</p>
                    <p>Price: ${{ product.preco }}</p>
                </div>
                {% endfor %}
            </div>
            
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Seller Store. All rights reserved.</p>
    </footer>
</body>
</html>